code
[
    {
        "id": "dcf83164cba38172",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d075afc5846a6c8b",
        "type": "inject",
        "z": "dcf83164cba38172",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "07a51c34b7a5c3ca",
        "type": "http request",
        "z": "dcf83164cba38172",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.kma.go.kr/wid/queryDFSRSS.jsp?zone={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "5e07ac86cbec3b49"
            ]
        ]
    },
    {
        "id": "5e07ac86cbec3b49",
        "type": "xml",
        "z": "dcf83164cba38172",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 210,
        "y": 1340,
        "wires": [
            [
                "29ba06fa224db2fc",
                "566e96f76fbd39a5",
                "cd9d7ed525257f28",
                "8f2b045ec3c3d605",
                "b06b354fe18f379a",
                "38efd3f7959b3230",
                "8ae74e2f1f905a9f",
                "91e61a87fd908a1a",
                "813c5144704173fc",
                "3303cc4fd934e2ec"
            ]
        ]
    },
    {
        "id": "abd95a661dc5209c",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c5c9c8d96797f5b",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "d3036e54ecce7a69",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "2833ab5a96af4106",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "7c3e9c7d4c2bb3a0",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "6969f35fc1ee302e",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "29ba06fa224db2fc",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[0];\n\nif(data.wfKor[0] = \"맑음\"){\n    msg.img = \"C:/Users/hjw/OneDrive/바탕 화면/날씨/1.png\"\n}else if(data.wfKor[0] = \"구름 많음\"){\n    msg.img = \"/2\"\n}else if(data.wfKor[0] = \"흐림\"){\n    msg.img = \"/3\"\n}else if(data.wfKor[0] = \"비\"){\n    msg.img = \"/4\"\n}else if(data.wfKor[0] = \"비/눈\"){\n    msg.img = \"/5\"\n}else if(data.wfKor[0] = \"눈\"){\n    msg.img = \"/6\"\n}else if(data.wfKor[0] = \"소나기\"){\n    msg.img = \"/7\"\n}\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "abd95a661dc5209c",
                "8c5c9c8d96797f5b",
                "d3036e54ecce7a69",
                "2833ab5a96af4106",
                "7c3e9c7d4c2bb3a0",
                "6969f35fc1ee302e",
                "f4df1f85dab01ceb"
            ]
        ]
    },
    {
        "id": "566e96f76fbd39a5",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[1];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "9be4faefce1f1203",
                "57f01b7ba62dcc7b",
                "50b61bf4bf800f52",
                "11a5eeed8f28e515",
                "7b5b9cad90f1918d",
                "7d94430b7ced2b34",
                "70033a51fc69057d"
            ]
        ]
    },
    {
        "id": "9be4faefce1f1203",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "57f01b7ba62dcc7b",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "50b61bf4bf800f52",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "11a5eeed8f28e515",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "7b5b9cad90f1918d",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "7d94430b7ced2b34",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "cd9d7ed525257f28",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[2];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 860,
        "wires": [
            [
                "e1307e93dff55722",
                "631c1c4f148aeac0",
                "dd1d847053513ec7",
                "0ac7c2116d664738",
                "ab9f15dde9df34ed",
                "4b18017fb4b5aa44",
                "f701305c6114019f"
            ]
        ]
    },
    {
        "id": "e1307e93dff55722",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 900,
        "wires": []
    },
    {
        "id": "631c1c4f148aeac0",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 940,
        "wires": []
    },
    {
        "id": "dd1d847053513ec7",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 980,
        "wires": []
    },
    {
        "id": "0ac7c2116d664738",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ab9f15dde9df34ed",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4b18017fb4b5aa44",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8f2b045ec3c3d605",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[3];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1200,
        "wires": [
            [
                "9c2168004053e52c",
                "acc0440cc6aec2e7",
                "8e8121e8833efc41",
                "473f1ab4bf7881df",
                "09ab260b0f7016fe",
                "d1597bb8901dd349",
                "929d6d346b4c9c34"
            ]
        ]
    },
    {
        "id": "9c2168004053e52c",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "acc0440cc6aec2e7",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1280,
        "wires": []
    },
    {
        "id": "8e8121e8833efc41",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1320,
        "wires": []
    },
    {
        "id": "473f1ab4bf7881df",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1360,
        "wires": []
    },
    {
        "id": "09ab260b0f7016fe",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d1597bb8901dd349",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1440,
        "wires": []
    },
    {
        "id": "b06b354fe18f379a",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[4];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "6a0a4e452b816ce1",
                "368b905f6327c2ab",
                "bd0f56dd6fe4a273",
                "ea65f725757efe73",
                "443d4833450e6040",
                "fc928bc4df9d59a5",
                "d5a41b4db5e43090"
            ]
        ]
    },
    {
        "id": "6a0a4e452b816ce1",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1560,
        "wires": []
    },
    {
        "id": "368b905f6327c2ab",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1600,
        "wires": []
    },
    {
        "id": "bd0f56dd6fe4a273",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ea65f725757efe73",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1680,
        "wires": []
    },
    {
        "id": "443d4833450e6040",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fc928bc4df9d59a5",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1760,
        "wires": []
    },
    {
        "id": "38efd3f7959b3230",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[5];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1820,
        "wires": [
            [
                "df0cb2eea9ab439e",
                "138a3915b97546da",
                "be4aaaf4cfe758c5",
                "3c61068686ddc7ef",
                "d7f615d2c85caf55",
                "d5ed95275851616f",
                "b05e41a87719be08"
            ]
        ]
    },
    {
        "id": "df0cb2eea9ab439e",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1860,
        "wires": []
    },
    {
        "id": "138a3915b97546da",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1900,
        "wires": []
    },
    {
        "id": "be4aaaf4cfe758c5",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1940,
        "wires": []
    },
    {
        "id": "3c61068686ddc7ef",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1980,
        "wires": []
    },
    {
        "id": "d7f615d2c85caf55",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2020,
        "wires": []
    },
    {
        "id": "d5ed95275851616f",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8ae74e2f1f905a9f",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[6];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2120,
        "wires": [
            [
                "94e14c4063610f6a",
                "e91d55f976edc491",
                "6ed46abfc06b5002",
                "a359825fe36b98b4",
                "83bf8471748fe60f",
                "89868476313b2b89",
                "f306184e0fd5475b"
            ]
        ]
    },
    {
        "id": "94e14c4063610f6a",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2160,
        "wires": []
    },
    {
        "id": "e91d55f976edc491",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2200,
        "wires": []
    },
    {
        "id": "6ed46abfc06b5002",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 2240,
        "wires": []
    },
    {
        "id": "a359825fe36b98b4",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2280,
        "wires": []
    },
    {
        "id": "83bf8471748fe60f",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2320,
        "wires": []
    },
    {
        "id": "89868476313b2b89",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2360,
        "wires": []
    },
    {
        "id": "91e61a87fd908a1a",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data = msg.payload.rss.channel[0].item[0].description[0].body[0].data[7];\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2420,
        "wires": [
            [
                "9a6aa09d78fc4fad",
                "a4f0e3b7abf4ca53",
                "f53a19e51a0701ad",
                "07032bf0e396990d",
                "fa17bfd4e796834a",
                "c70423be28d664ae",
                "23112480b0e8e576"
            ]
        ]
    },
    {
        "id": "9a6aa09d78fc4fad",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기온",
        "format": "{{payload.temp[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2460,
        "wires": []
    },
    {
        "id": "a4f0e3b7abf4ca53",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{payload.wfKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2500,
        "wires": []
    },
    {
        "id": "f53a19e51a0701ad",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "강수확률",
        "format": "{{payload.pop[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 2540,
        "wires": []
    },
    {
        "id": "07032bf0e396990d",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{payload.ws[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2580,
        "wires": []
    },
    {
        "id": "fa17bfd4e796834a",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{payload.wdKor[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2620,
        "wires": []
    },
    {
        "id": "c70423be28d664ae",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "습도",
        "format": "{{payload.reh[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2660,
        "wires": []
    },
    {
        "id": "2946669d6f6ece61",
        "type": "ui_template",
        "z": "dcf83164cba38172",
        "d": true,
        "group": "b0c7c843c80ac15a",
        "name": "",
        "order": 8,
        "width": "5",
        "height": "5",
        "format": "<img src = \"{{msg.img}}\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9a531fcf15518aaf",
        "type": "ui_form",
        "z": "dcf83164cba38172",
        "d": true,
        "name": "",
        "label": "",
        "group": "01cd971db6a21554",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "지역ID",
                "value": "zone",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "zone": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "813c5144704173fc",
        "type": "function",
        "z": "dcf83164cba38172",
        "name": "",
        "func": "var data1 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[0];\nvar data2 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[1];\nvar data3 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[2];\nvar data4 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[3];\nvar data5 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[4];\nvar data6 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[5];\nvar data7 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[6];\nvar data8 = msg.payload.rss.channel[0].item[0].description[0].body[0].data[7];\n\nvar out1 = {\"hour\":data1.hour[0],\"temp\":data1.temp[0],\"wfKor\":data1.wfKor[0],\"pop\":data1.pop[0],\"ws\":data1.ws[0],\"wdKor\":data1.wdKor[0],\"reh\":data1.reh[0]};\nvar out2 = {\"hour\":data2.hour[0],\"temp\":data2.temp[0],\"wfKor\":data2.wfKor[0],\"pop\":data2.pop[0],\"ws\":data2.ws[0],\"wdKor\":data2.wdKor[0],\"reh\":data2.reh[0]};\nvar out3 = {\"hour\":data3.hour[0],\"temp\":data3.temp[0],\"wfKor\":data3.wfKor[0],\"pop\":data3.pop[0],\"ws\":data3.ws[0],\"wdKor\":data3.wdKor[0],\"reh\":data3.reh[0]};\nvar out4 = {\"hour\":data4.hour[0],\"temp\":data4.temp[0],\"wfKor\":data4.wfKor[0],\"pop\":data4.pop[0],\"ws\":data4.ws[0],\"wdKor\":data4.wdKor[0],\"reh\":data4.reh[0]};\nvar out5 = {\"hour\":data5.hour[0],\"temp\":data5.temp[0],\"wfKor\":data5.wfKor[0],\"pop\":data5.pop[0],\"ws\":data5.ws[0],\"wdKor\":data5.wdKor[0],\"reh\":data5.reh[0]};\nvar out6 = {\"hour\":data6.hour[0],\"temp\":data6.temp[0],\"wfKor\":data6.wfKor[0],\"pop\":data6.pop[0],\"ws\":data6.ws[0],\"wdKor\":data6.wdKor[0],\"reh\":data6.reh[0]};\nvar out7 = {\"hour\":data7.hour[0],\"temp\":data7.temp[0],\"wfKor\":data7.wfKor[0],\"pop\":data7.pop[0],\"ws\":data7.ws[0],\"wdKor\":data7.wdKor[0],\"reh\":data7.reh[0]};\nvar out8 = {\"hour\":data8.hour[0],\"temp\":data8.temp[0],\"wfKor\":data8.wfKor[0],\"pop\":data8.pop[0],\"ws\":data8.ws[0],\"wdKor\":data8.wdKor[0],\"reh\":data8.reh[0]};\n\nmsg.payload = [out1,out2,out3,out4,out5,out6,out7,out8];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2720,
        "wires": [
            [
                "f42a6dc247ad86ea"
            ]
        ]
    },
    {
        "id": "f42a6dc247ad86ea",
        "type": "json",
        "z": "dcf83164cba38172",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 2720,
        "wires": [
            [
                "2a84d6455f36110c"
            ]
        ]
    },
    {
        "id": "2a84d6455f36110c",
        "type": "debug",
        "z": "dcf83164cba38172",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 2720,
        "wires": []
    },
    {
        "id": "3c8515d4ef640c63",
        "type": "ui_chart",
        "z": "dcf83164cba38172",
        "d": true,
        "name": "",
        "group": "01cd971db6a21554",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "기온변화",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 100,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fc7019a279751813",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "군산",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4513000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "71c534e9a27a84a2",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "서울",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1100000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "dcc3df4521c9d1e9",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "대전",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3000000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "3d03b282b8f4a7cc",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "부산",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2600000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "729f3b43f16ec8d5",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "제주도",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5000000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "3303cc4fd934e2ec",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "01cd971db6a21554",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "지역 : ",
        "format": "{{msg.payload.rss.channel[0].item[0].category[0]}}",
        "layout": "row-center",
        "className": "",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "1b4271f029257762",
        "type": "ui_button",
        "z": "dcf83164cba38172",
        "name": "",
        "group": "01cd971db6a21554",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "인천",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2800000000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "07a51c34b7a5c3ca"
            ]
        ]
    },
    {
        "id": "23112480b0e8e576",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "06323e7f3f169050",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2420,
        "wires": []
    },
    {
        "id": "f306184e0fd5475b",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "adb34641a6d20a3e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2120,
        "wires": []
    },
    {
        "id": "b05e41a87719be08",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "eb91e8d2e7d159f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1820,
        "wires": []
    },
    {
        "id": "d5a41b4db5e43090",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b25e55dbf2165874",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1520,
        "wires": []
    },
    {
        "id": "929d6d346b4c9c34",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "2a3af76a8f1ff84b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f701305c6114019f",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "5294eef1b421ac4d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "70033a51fc69057d",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "07bbfc6e6ac7ab55",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4df1f85dab01ceb",
        "type": "ui_text",
        "z": "dcf83164cba38172",
        "group": "b0c7c843c80ac15a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "시간",
        "format": "{{payload.hour[0]}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "b0c7c843c80ac15a",
        "type": "ui_group",
        "name": "18시",
        "tab": "4d8ab46462135c50",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07bbfc6e6ac7ab55",
        "type": "ui_group",
        "name": "21시",
        "tab": "4d8ab46462135c50",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5294eef1b421ac4d",
        "type": "ui_group",
        "name": "24시",
        "tab": "4d8ab46462135c50",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a3af76a8f1ff84b",
        "type": "ui_group",
        "name": "3시",
        "tab": "4d8ab46462135c50",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b25e55dbf2165874",
        "type": "ui_group",
        "name": "6시",
        "tab": "4d8ab46462135c50",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb91e8d2e7d159f5",
        "type": "ui_group",
        "name": "9시",
        "tab": "4d8ab46462135c50",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adb34641a6d20a3e",
        "type": "ui_group",
        "name": "12시",
        "tab": "4d8ab46462135c50",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06323e7f3f169050",
        "type": "ui_group",
        "name": "15시",
        "tab": "4d8ab46462135c50",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01cd971db6a21554",
        "type": "ui_group",
        "name": "지역을 선택하세요",
        "tab": "4d8ab46462135c50",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d8ab46462135c50",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
